.search{

    &-container{
        width: 100%;
        height: 60px;
        background-color: #323a45;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }

    &-form{
        width: 100%;
        max-width: 1200px;
        margin: 0 60px;
    }

    &-input{
        margin-left: 10px;
        padding: 10px;
        width: 300px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        border: none;
    }

    &-button{
        border: none;
        outline: none;
        background-color: #3f51b5;
        padding: 10px;
        border-left: 1px solid rgba(0,0,0,0.3);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-weight: 700;
        color: white;
        transition-duration: 0.3s;
        cursor: pointer;

        &:hover{
            cursor: pointer;
            background-color: #fff;
            color: #3f51b5;
            border: 1px solid #3f51b5;
        }
    }
}

.logo{
    margin-left: 10px;
    margin-right: 20px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}