/* You can add global styles to this file, and also import other style files */

body { 
    height: 100%; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top: 60px;
    background-color: #151515;
}
body * { 
    margin: 0; 
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
 }
